.a{
    background-color:green;
}
.s{
    background-color: aqua;
}
.d{
    background-color: aquamarine;
}
.f{
    background-color: azure;
}
.g{
    background-color: beige;

}
.h{
    background-color: black;
}
.j{
    background-color: blue;
}
.k{
    background-color: blueviolet;
}
.l{
    background-color: brown;
}